---
- name: Gather package versions
  ansible.builtin.package_facts:
    manager: auto

- name: Get list of loaded NIC kernel modules
  ansible.builtin.set_fact:
    loaded_nic_kmods: "{{ ansible_facts |
                          json_query(
                            '* | [?device && module && type == `ether`].{
                                  device: device,
                                  module: module
                                }'
                          )
                       }}"
