---
- name: Set facts
  ansible.builtin.import_tasks:
    file: facts.yml

- name: Configure timezone
  ansible.builtin.import_tasks:
    file: timezone.yml
  when: timezone != ""

- name: Configure locale
  ansible.builtin.include_tasks:
    file: locale.yml
  when: locale != ""

- name: Configure keyboard
  ansible.builtin.include_tasks:
    file: keyboard.yml

- name: Configure SSH
  ansible.builtin.import_tasks:
    file: ssh.yml

- name: Configure DNS
  ansible.builtin.import_tasks:
    file: dns.yml

- name: Configure APT
  ansible.builtin.import_tasks:
    file: apt/main.yml

- name: Configure hardware
  ansible.builtin.import_tasks:
    file: hardware/main.yml

- name: Include tasks for Ubuntu
  ansible.builtin.include_tasks:
    file: ubuntu.yml
  when: ansible_facts.lsb.id == "Ubuntu"

- name: Include tasks for Debian
  ansible.builtin.include_tasks:
    file: debian.yml
  when: ansible_facts.lsb.id == "Debian"

- name: Configure linux kernel
  ansible.builtin.import_tasks:
    file: kernel/main.yml

- name: Configure grub bootloader
  ansible.builtin.import_tasks:
    file: grub.yml
