[Unit]
Description=Apply cpupower configuration
ConditionVirtualization=!container

[Service]
Type=oneshot
EnvironmentFile=/etc/default/cpupower
ExecStart=/etc/systemd/scripts/cpupower
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
